<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/seleniumAutomation/SeleniumFramework/parallel.xml">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.TC1"/>
            <class name="testCases.TC2"/>
            <class name="testCases.TC3"/>
            <class name="testCases.TC4"/>
        </classes>
    </test>
</suite>